<footer>
    <div class="row">
        <div class=" col-12 col-md ps-1 pe-1 px-md-1">


            <h3>Partenaires</h3><br>

            <div class="universite">
                <img src="Faculter.png" alt="image" style="width: 45px; height: 40px;">
            <a href="#" class="policy" style="margin-left: 3px;">Faculté des Sciences  </a>
            </div>

            <div class="adi">
            <img src="Afriquer.png" alt="image" style="width: 45px; height: 38px;">
            <a href="#" class="cookie" style="margin-left: 3px;">ADI</a>
            </div>

            <div class="challenge">
            <img src="challenge.png" alt="image" style="border-radius: 50%; width: 35px; height: 35px;">
            <a href="#" class="preferences" style="margin-left: 4px;">Challenge Intelligence</a>
            </div>

            <div class="class">
            <img src="MA64.jpg" alt="image" style=" border-radius: 50%; width: 35px; height: 35px;">
            <a href="#" style="margin-left: 4px;">MA64</a>
            </div>




        </div>
        <div class=" col-12 col-md ps-1 pe-1 px-md-1">
            <h3 class="need"> Formations </h3><br>
            <a class="text" href="#" routerLink="/formation">RedHat Engineering </a><br>
            <a class="text1" href="#" routerLink="/formation">RedHat Architecture</a><br>
            <a class="text3" href="#" routerLink="/formation">Azure Security</a><br>
            <a class="text4" href="#" routerLink="/formation">Azure data</a><br>
            <a class="text5" href="#" routerLink="/formation">AWS Security</a><br>
            <a class="text6" href="#" routerLink="/formation">Security</a><br>
        </div>

        <div class=" col-12 col-md ps-1 pe-1 px-md-1">
            <h3 class="work"> Service</h3><br>
            <a class="text" href="#" routerLink="/services">Services Cloud</a><br>
            <a href="#" class="text1" routerLink="/services">Infogerance </a><br>
            <a href="#" class="text2" routerLink="/services">Sauvergarde</a><br>
            <a href="#" class="text3" routerLink="/services">WIFI d'entreprise</a><br>
            <a href="#" class="text4" routerLink="/services">Developpement</a><br>
           
        </div>

        <div class=" col-12 col-md ps-1 pe-1 px-md-1" >
            <h3 class="about_us">A Propos </h3><br>
            <a href="#" class="text" routerLink="/equipe">Equipe</a><br>
            <a href="#" class="text1">Eis-Innovation</a><br><br>
            <h3 class="ressources">Ressources </h3><br>
            <a href="https://blog.eis-innovation.com" class="bloge">Blog</a><br>
            <a href="#" class="succes">www eis-Innovation.com</a><br>
            
        </div>

        <div class=" col-12 col-md-3 ps-1 pe-1 px-md-1">
            <h3>Contact</h3><br>
            <a href="mailto:contacts@eis-innovation.com" >contacts&#64;eis-innovation.com </a><br>
            <a href="mailto:sangala.michel@eis-innovation.com">sangala.michel&#64;eis-innovation.com</a><br>
            <a href="mailto:hopogap.rene@eis-innovation.com">hopogap.rene&#64;eis-innovation.com</a><br><br>

            <h3>EIS- <i>Innovation </i></h3>
            <i style="color: orange;">Au Coeur de l'innovation</i>
        </div>
    </div>
    <br>
    <hr>
    <div class="col-12 text-center my-3">
        <p class="fond_pied">
            Copyright <img class="mt-0" src="copyright.svg" alt="image"> 2024 - Eis-Innovation au coeur de l'innovation.<br>
            <span class="fond_pied_fin">Rue Emile Duport, 69009, Lyon France</span>
        </p>
    </div>
</footer>