<div class="container">
    <div class="row">
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">ADMINISTRATION</h1>
            </div>
            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-success">Gestion des Formations</h5>
                            <p class="card-text">Gérez les formations offertes par EIS.</p>
                            <a href="#" class="btn btn-success">Accéder</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-success">Gestion des Membres</h5>
                            <p class="card-text">Gérez les formateurs et leurs informations.</p>
                            <a href="#" class="btn btn-success">Accéder</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-success">Gestion des Admins</h5>
                            <p class="card-text">Gérez les administrateurs du site. </p>
                            <a href="#" class="btn btn-success">Accéder</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
