
    <div class="footer container-fluid pt-3">
        <div class="text-center">
            <p class="entete text-dark" ><b>CONTACTEZ NOUS</b></p>
            <div class="rectangle"></div>
        </div>
        <div class="row p-5">
            <div class="col-md-7 left-column pr-1 text-dark">
                <form>
                    <div class="casecocher mb-3">

                        <label class="text-success font-weight-bold">Vous êtes :</label>
                        <label for="entreprise" class="text-success font-weight-bold">Une entreprise</label>
                        
                        <input formControlName="entreprise" type="radio" name="choix" class="styledinput">
                        
                        <label for="particulier" class="text-success font-weight-bold">Un particulier</label>
                        
                        <input formControlName="particulier" type="radio" name="choix"><br/><br/>
                    
                    </div>

                    <div class="form-group mb-3">

                        <label for="name" class="text-success font-weight-bold">Nom</label><span >*</span>
                        <input type="text" class="form-control" formControlName="name" [@changeColor]="activeField === 1 ? 'clicked' : 'default'" (click)="onClick(1)">
                    
                    </div>


                    <div class="form-group mb-3">

                        <label for="prenom" class="text-success font-weight-bold">Prenom</label><span >*</span>
                        <input formControlName="prenom" type="text" class="form-control" [@changeColor]="activeField === 2 ? 'clicked' : 'default'" (click)="onClick(2)">
                    
                    </div>


                    <div class="form-group mb-3">

                        <label for="email" class="text-success font-weight-bold">Email</label><span >*</span>
                        <input formControlName="email" type="email" class="form-control" [@changeColor]="activeField === 3 ? 'clicked' : 'default'" (click)="onClick(3)">
                    
                    </div>



                    <div class="form-group mb-3">

                        <label for="message" class="text-success font-weight-bold">Votre message</label><span >*</span>
                        <input formControlName="message" type="text" class="form-control" [@changeColor]="activeField === 4 ? 'clicked' : 'default'" (click)="onClick(4)">
                    
                    </div>

                    <input type="button " value="envoyer" class="btn btn-outline-success">

                </form>
            </div>
            <div class="col-md-3 right-column text-dark offset-md-1">
                <P>Vous préferez peut être nous contacter en direct?</P>
                <div class="row mt-3">
                    <img src="zapp.png" alt="whatsapp" class="p-0" width="100px" 
                        style="
                        width: 80px;
                        height: 80px;">
                    <p class="col-7 text-center d-flex flex-column">
                        <a href="https://wa.me/+330753303250" target="_blank">+33   07 53 30 32 50</a>
                        <a href="https://wa.me/+237653033755" target="_blank">+237   6 53 03 37 55</a>
                        <a href="https://wa.me/+237697801576" target="_blank">+237   6 97 80 15 76</a>
                    </p>
                </div>
                <div class="row mt-3">
                    <a href="mailto:contacts@eis-innovation.com">Contactez-nous par mail</a>
                  </div>
                  
            </div>
        </div>
    </div>

