<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
/>

<section class="S1">
    <div class="z5"></div>
    <div class="z4"></div>
    <div class="z3"></div>
    <div class="z2"></div>
    <div class="z1"></div>
    <div class="container">
        <div class="row size-6">
                
            <div class="block-information Px-4 offset-md-1 col-md-5 pt-5 pt-md-0 col-11 mx-auto g-md-1 d-flex flex-column justify-content-start size-xs-3 pt-5">
                <img  class="img-fluid" style="width: 100%;" src="ordiGeant.png" alt="Erreur d'affichage" >
            </div>
            <div class="block-information Px-4 offset-md-1 col-md-5 pt-5 pt-md-0 col-11 mx-auto g-md-1 d-flex flex-column justify-content-start size-xs-3 pt-5">
                    <div class="py-2">
                        <h1 class="pt-3 bold size ">
                            Nous vous aidons à transformer 
                            vos idées en <span class="vert">réalité numérique</span>  
                        </h1>
                        <p class="py-1">
                            Que vous soyez une <span class="vert">entreprise</span> cherchant à <br> optimiser vos processus métiers
                            ou un <span class="vert">particulier</span> souhaitant <span class="vert">concrétiser votre vision</span>, nous sommes
                            là pour vous <span class="vert">accompagner</span>. <br>
                        <button class="mt-3 rounded" routerLink="/contacts" style="font-size:small;">Contactez-nous dès maintenant</button>
                        </p>
                        
                    </div>
                </div> 
        </div>
    </div>
</section>

<section class=" S2 ">
    <div class="fond px-n5 py-0 pb-5">
        <div class="h1 size-1 pt-n5 mt-n5 bold size">
            Choisissez une <span class="vertA">base numérique</span> solide et fiable pour votre organisation
        </div>
        <div class="p-5 pb-3 " style="font-size: 1.5em;">
            Accomplissez votre <span class="vertA">transition</span> vers le <span class="vertA">numérique</span> en prenant en considération votre identité, votre passé, votre contexte et vos objectifs.
        </div>
        <button class="size-1 btn btn-success pt-3" routerLink="/contacts">Prendre Rendez-vous dès maintenant</button>
       
    </div>
</section>


<section class="S3">
    <div class="vv p-3 pt-5">
        <h2 class="bold text-white">Votre Partenaire de Confiance pour une Stratégie Digitale Réussie </h2>
    </div> 
    <div class="C3">
        <div class="fond row"></div>
        <div class="cont container">
            <div class="R1 row d-flex  justify-content-around pb-3 px-5">
                <div class="card col-lg mx-md-3 col-md-5 col-12 mb-4 R1A" [ngClass]="{'slide': showBlocks.R1A, 'hiddenTop': !showBlocks.R1A}"> 
                        <img class="card-img-top mt-3" style="height: 250px;" src="conseils.jpg" alt="Card image cap" >
                        <div class="card-body">
                          <h5 class="card-title bold vert text-center">Conseils et accompagnement</h5>
                          <p class="card-text text-justify">Confiez-nous vos objectifs et besoins, et nous créerons ensemble votre stratégie digitale sur mesure qui vous propulsera vers de nouveaux sommets.</p>
                        </div>
                </div>
    
                <div class="card col-lg mx-md-3 col-md-5 col-12 mb-4 R2A" [ngClass]="{'slide': showBlocks.R2A, 'hiddenTop': !showBlocks.R2A}"> 
                        <img class="card-img-top mt-3" style="height: 250px;" src="cocreation.jpg" alt="Card image cap" >
                    <div class="card-body">
                      <h5 class="card-title bold vert text-center">Co-Création et Collaboration</h5>
                      <p class="card-text text-justify">Nous adoptons une approche collaborative en vous considérant comme notre partenaire. Ensemble, nous co-créons des solutions sur mesure qui répondent parfaitement à vos besoins.</p>
                    </div>
                </div>
    
                <div class="card col-lg mx-md-3 col-md-5 col-12 mb-4 R3A d" [ngClass]="{'slide': showBlocks.R3A, 'hiddenTop': !showBlocks.R3A}"> 
                    <img class="card-img-top mt-3" style="height: 250px;" src="suivie.jpg" alt="Card image cap" >
                    <div class="card-body">
                      <h5 class="card-title bold vert text-center">Suivi Continu et Adaptabilité</h5>
                      <p class="card-text text-justify"> Après la mise en œuvre, nous garantissons un suivi constant : surveillance des performances, collecte des retours d’expérience et adaptation continue aux évolutions.</p>
                    </div>
                </div>
        
                
            </div>
            <div class="R2 row g-3 px-md-5">
                <div class="blocA col-md-6 col-sm-12 d-flex justify-content-left mb-4 R2A" [ngClass]="{'slide': showBlocks.R2B, 'hiddenLeft': !showBlocks.R2B}">
    
                    <div class="p-3 text-light  text-center shadow rounded" style="background-color: #006954;" >
    
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                            <path fill-rule="evenodd" d="M8.25 6.75a3.75 3.75 0 1 1 7.5 0 3.75 3.75 0 0 1-7.5 0ZM15.75 9.75a3 3 0 1 1 6 0 3 3 0 0 1-6 0ZM2.25 9.75a3 3 0 1 1 6 0 3 3 0 0 1-6 0ZM6.31 15.117A6.745 6.745 0 0 1 12 12a6.745 6.745 0 0 1 6.709 7.498.75.75 0 0 1-.372.568A12.696 12.696 0 0 1 12 21.75c-2.305 0-4.47-.612-6.337-1.684a.75.75 0 0 1-.372-.568 6.787 6.787 0 0 1 1.019-4.38Z" clip-rule="evenodd" />
                            <path d="M5.082 14.254a8.287 8.287 0 0 0-1.308 5.135 9.687 9.687 0 0 1-1.764-.44l-.115-.04a.563.563 0 0 1-.373-.487l-.01-.121a3.75 3.75 0 0 1 3.57-4.047ZM20.226 19.389a8.287 8.287 0 0 0-1.308-5.135 3.75 3.75 0 0 1 3.57 4.047l-.01.121a.563.563 0 0 1-.373.486l-.115.04c-.567.2-1.156.349-1.764.441Z" />
                        </svg>
    
                        <p class="text-light">
                            <span class="text-light black h4 bold">Formation et Montée en Compétences</span><br><br>
                           <span style="text-align: justify; display: block;">Nous investissons activement dans la formation continue de nos collaborateurs, favorisant ainsi l’apprentissage, l’acquisition de nouvelles compétences et l’enrichissement des connaissances. Cet engagement nous assure de rester à la pointe des dernières technologies et des meilleures pratiques.</span>
                        </p>
    
                    </div>
                </div>
    
                <div class="blocB col-md-6 col-sm-12 d-flex justify-content-center mb-4 R2B" [ngClass]="{'slide': showBlocks.R2B, 'hiddenRight': !showBlocks.R2B}">
                    <div class="p-3  text-center shadow rounded" style="background-color: #006954;">
                        <img src="activity.svg" alt="">
                        <p class="text-light"><span class="white h4 bold">Bien-Être des Membres</span><br><br>
                           <span style="text-align: justify; display: block;">Nous savons que des membres heureux et en bonne santé sont plus productifs. C’est pourquoi nous mettons en place des initiatives pour promouvoir le bien-être physique et mental, notamment des horaires flexibles, des espaces de détente, des activités de team-building et un soutien constant.</span> 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class=" S4 px-3 mt-5 d-flex flex-column align-items-center Sf">
    <div *ngIf="blog && blog.length > 0" class="grand h2 my-4 text-center h1">Découvrez notre approche,<br> pilier vers une transformation réussie</div>
  
    <div class="blog mt-5 container row justify-content-center g-2">
      <div class="col-md-4 col-sm-6 col-12 d-flex flex-column justify-content-center align-items-center" *ngFor="let blog of blog">
        <img src="{{ blog.image }}" alt="image" class="image">
        <div class="h2 fs-5 text-center mt-3 vert"><b>{{ blog.titre }} </b> </div>
        <div class="text-center d-flex justify-content-center">
          <p class="fs-6 w-75 font-weight-lighter text-justify">{{ blog.paragraphe }}</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    
<section class="container my-5 p-5 bgg">
        <div class="row mt-5 bg-white rounded R1C" [ngClass]="{'slide': showBlocks.R1C, 'hiddenLeft': !showBlocks.R1C}">
            
            <div class="mx-auto col-12 col-md-8 mb-4 bg-white rounded d-flex align-items-center">
                <div class="bg-ligh p-4 rounded">
                    <h2><b>Expertise technique</b></h2>
                    <p style="text-align: justify; max-width: 800px; word-spacing: -0,1px;">Notre expertise technique est un atout majeur. Nos développeurs, designers et experts en informatique maîtrisent les dernières technologies. Nous sommes capables de résoudre des problèmes complexes et de créer des solutions sur mesure. Que vous ayez besoin d'un site web, d'une application mobile ou d'une plateforme d'entreprise, notre savoir-faire garantit des résultats de haute qualité.</p>
                </div>
            </div>
            <div class="d-none d-md-flex col-4 mb-4 bg-white rounded p-2 my-3 ">
                <img class="img-fluid rounded" height="300px" width="400px"  src="expertisetechnique.jpg" alt="">
            </div>
    
        </div>
    
        <div class="row mt-5 bg-white rounded R2C" [ngClass]="{'slide': showBlocks.R2C, 'hiddenRight': !showBlocks.R2C}">
            <div class="d-none d-md-flex col-4 mb-4 p-2 my-3 ">
                <img class="img-fluid rounded" height="300px" width="400px" src="solutionspersonnalisees.jpg" alt="">
            </div>
            <div class="mx-auto col-12 col-md-8 mb-4 bg-white rounded d-flex align-items-center">
                <div class="p-4">
                    <h2><b>Solutions Personnalisées</b></h2>
                    <p style="text-align: justify; max-width: 800px; word-spacing: -0,1px;">Nous ne proposons pas de solutions génériques. Nous comprenons que chaque projet est unique. Nos experts collaborent étroitement avec vous pour comprendre vos besoins et développer des solutions spécifiques adaptées à ces exigences. Vous bénéficiez ainsi d'une solution sur mesure, parfaitement alignée avec vos objectifs.
                    </p>
                </div>
            </div>
        </div>

        <div class="row mt-5 bg-white rounded R3C" [ngClass]="{'slide': showBlocks.R3C, 'hiddenLeft': !showBlocks.R3C}">    
            <div class="mx-auto col-12 col-md-8  d-flex align-items-center">
                <div class="bg- p-4">
                    <h2><b>Innovation Technologique</b></h2>
                    <p style="text-align: justify; max-width: 800px; word-spacing: -0,1px;">Travailler avec nous, c'est rester à la pointe de la technologie. Nous sommes constamment à l'affût des dernières avancées et des tendances émergentes. Nos solutions intègrent les meilleures pratiques et les technologies les plus récentes. Vous pouvez être certain que votre projet sera à la pointe de l'innovation.</p>
                </div>
            </div>
            <div class="d-none d-md-flex col-4 mb-4 p-2 my-3 ">
                <img class="img-fluid rounded" height="300px" width="400px" src="innovationtechnologique.jpg" alt="">
            </div>
        </div>
        <div class="row mt-5 bg-white rounded R4C" [ngClass]="{'slide': showBlocks.R4C, 'hiddenRight': !showBlocks.R4C}">    
            <div class="d-none d-md-flex col-4 mb-4 p-2 my-3 ">
                <img class="img-fluid rounded" height="300px" width="400px" src="collaborationclient.jpg" alt="">
            </div>
            <div class="mx-auto col-12 col-md-8 mb-4 bg-white rounded d-flex align-items-center">
                <div class="bg- p-4">
                    <h2><b>Collaboration Client</b></h2>
                    <p style="text-align: justify; max-width: 800px; word-spacing: -0,1px;">Nous ne nous contentons pas de travailler pour vous, mais avec vous.Nous considérons chaque client comme un véritable partenaire. Notre approche collaborative repose sur une communication ouverte, des retours d'expérience et une compréhension approfondie de vos objectifs. Ensemble, nous construisons la meilleure solution possible.</p>
                </div>
            </div>
    
        </div>



        
        
        
        
    </section>
    <section>
        <h2 class="h2 bold text-center vert size">Nos Partenaires</h2>
            <div class="row g-2 p-3 d-flex">
              <div class="card mx-auto align-items-center text-center p-3 P" [ngClass]="{'slide': showBlocks.P, 'hiddenTop': !showBlocks.P}" style="width: 15rem;" *ngFor="let partner of partners">
                <img class="card-img-top"  [src]="partner.logo" alt="{{partner.name}}" class="partner-logo" />
                <div class="card-body">
                  <h3 class="card-title bold">{{partner.name}}</h3>
                </div>
              </div>
            </div>
    </section>
      
  
  
  
  



