.p {
  font-family: "Arimo", sans-serif;
  
}

.cot {
  font-family: 'Trebuchet MS', serif;
}

.im{
  width: 30%;
  opacity: 60%;
  position: absolute;
  top:30%;
  left: 50%;
  transform: translate(-50%, -30%);

}


.custom-carousel-img {
  height: 100%;
  object-fit: cover;
}

.text-justify{
  text-align: justify;
}

.vert{
  color: #248a15;
}

.titre1 {
  font-size: 65px;
}
.carousel-item img {
  height: 500px;
  object-fit: cover;
}

.carousel-caption {
  bottom: 20px;
}

.baniere {
  height: 50vh;
  background: 
      linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.7)), 
      url("../../../public/images/baniere.jpg") no-repeat center center;
  background-size: cover; 
  color: #fff;
  text-align: right;
  font-size: 20px;
}


.hist {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto auto; 
  gap: 10px; 
  margin: 10px 100px 0px 0px;
}


.slideCont img, .slideCont .row{
  grid-area: superposition;
}

.slideCont .row div{
  background: linear-gradient(-30deg, #00ffe180, #ffffff80, #00ffe180);
}


.histo img{
  aspect-ratio: 16/5;
  width: 100%;
}
.hist .case1 {
  display: flex;
  align-items: center;
}
.slideCont{
  display: grid;
  grid-template-areas: superposition;
  height: 500px;
  overflow: hidden;

}

.hist .deuxcases {
  grid-column: 1 / span 2; 
  grid-row: 2 / span 1;
}


.blocc .image1{
  width: 150px;
  height: 150px;
}

.text-justify{
  text-align: justify;
}


.hide{
  transform: translateY(0);
  transform: translateX(0);
  opacity: 1;
  transition: transform 1s ease-out, opacity 1s ease-out;
}

.hiddenTop {
  opacity: 0;
  transform: translateY(-100px);
}

.card-container {
  background: url('/entreprise.jpg') center/cover fixed;
  padding: 1em;
}

.card-container .card{
  height: 100%;
  background: #ffffffCf;
}


/********************************************************************************/

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  opacity: 0;
  transition: none;
  transition-duration: .5s;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}