<section class="">
        <div style="position: relative;">
          <ngb-carousel class="">
            <ng-template ngbSlide>
              <img src="office1.jpg" alt="Slide 1" style="width: 100% !important;" class="custom-carousel-img">
              <div class="carousel-caption d-none d-md-block">
                <h5>Innovante</h5>
                <p class="bg-dark">Toujours à la pointe de la technologie</p>
              </div>
            </ng-template>
            
            <ng-template ngbSlide>
              <img src="desk1.jpg" alt="Slide 2" style="width: 100% !important;" class="custom-carousel-img">
              <div class="carousel-caption d-none d-md-block">
                <h5 class="text-info">Dynamique</h5>
                <p class="text-info border">anticipe les besoins de demain</p>
              </div>
            </ng-template>
            
            <ng-template ngbSlide>
              <img src="meeting1.jpg" alt="Slide 3" style="width: 100% !important;" class="custom-carousel-img">
              <div class="carousel-caption d-none d-md-block">
                <h5 class="text-dark" >Visionnaire</h5>
                <p class="text-dark border  bg-white">produits et services de haute qualité</p>
              </div>
            </ng-template>
          </ngb-carousel>
          <img class="im" src="LogoEIS_XL.svg" alt="">
        </div>
      
    <div class="row titre1 text-center py-3 px-md-5" >
        <div class="col-12 d-none d-md-flex align-content-start" style="font-size: 100px;">``</div>
        <h1 class="col-12 Titre" [ngClass]="{'hide': showBlocks.Titre, 'hiddenTop': !showBlocks.Titre}">EIS-<span class="vert">INNOVATION</span> révolutionne notre perception de la <span class="vert">technologie</span> et se consacre à bâtir un avenir<span class="vert"> prometteur</span> pour les générations futures.</h1>
        <div class="col-12 d-none d-md-flex d-md-block align-content-end" style="font-size: 100px; transform: rotate(180deg);">``</div>
    </div>


    <div class="row padding px-md-5 text-justify card-container">
      <div class="card shadow-sm col-md-9 mx-auto fw-semibold">

        <div class="card-body ">

          <div class="mb-4">
                <h4 class="vert bold">1. Qui sommes-nous ?</h4>
                <p class="text-justify">
                    EIS Innovation est une startup technologique fondée au Cameroun, à l'Université de Douala. Nous sommes une entreprise née de la passion pour la technologie et d'une vision claire : offrir des solutions simples mais innovantes pour répondre aux besoins des personnes recherchant des produits et services technologiques de haute qualité. Fondée par Mr. Mballa Michel et soutenue par deux autres professionnels, notre entreprise se distingue par son engagement à former et encadrer les jeunes talents pour en faire les leaders technologiques de demain.
                </p>
            </div>

            <div class="mb-4">
                <h4 class="vert bold">2. Notre vision</h4>
                <p class="text-justify">
                    Notre vision est de créer un avenir où la technologie est accessible à tous, où les solutions simples mais innovantes permettent de transformer les vies et de rendre le monde plus connecté, inclusif et avancé. Nous aspirons à être un leader mondial dans le domaine technologique, en repoussant constamment les limites de l'innovation.
                </p>
            </div>

            <div class="mb-4">
                <h4 class="vert bold">3. Notre mission</h4>
                <p class="text-justify">
                    Notre mission est de fournir des solutions technologiques de haute qualité, accessibles et répondant aux besoins diversifiés de nos clients. Nous nous engageons à encadrer et à former la prochaine génération de leaders technologiques, tout en cultivant une culture d'innovation, d'ambition et de collaboration au sein de notre entreprise.
                </p>
            </div>

            <div class="mb-4">
                <h4 class="vert bold">4. Notre objectif</h4>
                <p class="text-justify">
                    Notre objectif est de transformer des idées novatrices en solutions pratiques qui répondent aux défis technologiques actuels et futurs. Nous visons à créer un impact durable en développant des technologies qui améliorent la vie quotidienne tout en soutenant l'émergence de jeunes talents dans le domaine technologique.
                </p>
            </div>

            <div class="mb-4">
                <h4 class="vert bold">5. Nos valeurs</h4>
                <p class="text-justify">
                    Nos valeurs fondamentales sont :
                </p>
                <ul>
                    <li><strong>Innovation</strong> : Nous repoussons constamment les frontières de la technologie pour créer des solutions nouvelles et efficaces.</li>
                    <li><strong>Ambition</strong> : Nous nous efforçons d'atteindre l'excellence dans tout ce que nous entreprenons, avec un engagement indéfectible envers nos objectifs.</li>
                    <li><strong>Collaboration</strong> : Nous croyons en la force du travail d'équipe et de la coopération pour atteindre des résultats exceptionnels.</li>
                    <li><strong>Excellence</strong> : Nous mettons un point d'honneur à maintenir les plus hauts standards de qualité dans nos produits, services, et processus.</li>
                </ul>
            </div>

            <div>
                <h4 class="vert bold">6. Nos avantages</h4>
                <p class="text-justify">
                    <strong>Expertise</strong> : Une équipe composée de professionnels expérimentés et de jeunes talents formés dans les meilleures pratiques technologiques.
                </p>
                <p>
                    <strong>Innovation continue</strong> : Un engagement à rechercher et développer des solutions technologiques novatrices qui répondent aux besoins changeants du marché.
                </p>
                <p>
                    <strong>Accessibilité</strong> : Des produits et services technologiques de haute qualité, accessibles à un large public, favorisant un mode de vie avancé.
                </p>
                <p>
                    <strong>Encadrement et formation</strong> : Un soutien actif aux jeunes talents, leur offrant des opportunités de développement professionnel et de leadership dans le secteur technologique.
                </p>
            </div>
        </div>
    </div>
    </div>

    <br><br>
    <div class="row padding">
        <div class="col-12 baniere text-right py-5 px-md-5">
            <P>Innovation</P> 
            <P>collaboration</P> 
            <P>ambition</P> 
            <P>Excellence</P> 
        </div>
    </div>
</section>


  



  
  
